<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FSPH - Fundação de Saúde Parreiras Horta</title>
    <meta name="author" content="FSPH">
    <meta name="description" content="FSPH - Fundação de Saúde Parreiras Horta">
    <meta name="keywords" content="FSPH - Fundação de Saúde Parreiras Horta">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Outfit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Para Criar o Slide -->
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/slide.js" defer></script>
    <script src="assets/js/fetchs.js" defer></script>
    <script src="assets/js/noticiaDetalhada.js" defer></script>
    <script src="assets/js/footer.js" defer></script>
    <script src="assets/js/fontSize.js" defer></script>
    <script src="assets/js/toggleDark.js" defer></script>
    <script src="assets/js/size.js" defer></script>

</head>

<body>
    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader ">
        <div class="preloader-inner">
            <div class="loader"></div>
        </div>
    </div>
    <!--==============================
    Sidemenu
============================== -->
    <div class="sidemenu-wrapper sidemenu-info ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget  ">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="index.html">
                            <img src="assets/img/fsph_logoLAzul.png" alt="Mediax" width="150rem" height="auto">
                        </a>
                    </div>
                </div>
            </div>
            <div class="widget  ">
                <h3 class="widget_title">Links Úteis</h3>
                <div class="newsletter-widget">
                    <div class="btn-group links">
                        <!-- Expresso -->
                        <a href="https://expresso.se.gov.br/login.php" target="_blank" class="img-btn">Expresso</a>
                        <!-- Compelac -->
                        <a href="https://fsph.se.gov.br/index.php/compelac-2/" target="_blank" class="img-btn">COMPELAC - Comissão de Pesquisa do LACEN-SE</a>
                        <!-- Contracheque -->
                        <a href="https://agportal.agapesistemas.com.br/AgPortalServidorWeb/?alias=fsph" target="_blank" class="img-btn">Ágape</a>
                        <!-- Contratos Covid-19 -->
                        <a href="https://fsph.se.gov.br/index.php/covid-19/" target="_blank" class="img-btn">Contratos Covid-19</a>
                        <!-- EDOC -->
                        <a href="https://edoc.se.gov.br/docflow/xhtml/docflow/geral/login.jsf" target="_blank" class="img-btn">E-DOC</a>
                        <!-- Transparência -->
                        <a href="https://www.transparencia.se.gov.br/" target="_blank" class="img-btn">Transparência Sergipe</a>
                        <!-- Licitações -->
                        <a href="https://fsph.se.gov.br/index.php/avisos/" target="_blank" class="img-btn">Licitações</a>

                        <a href="https://www.se.gov.br/setc/setc_lai_acesso_a_informacao" target="_blank" class="img-btn">Lei de Acesso à Informação Pública</a>

                        <a href="#" target="_blank" class="img-btn">Plano de Contratações Anual</a>

                        <a href="https://edoc.se.gov.br/docflow/xhtml/docflow/external/login/auth.jsf" target="_blank" class="img-btn">Protocolo Externo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="O que você esta procurando ?">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/fsph_logoLAzul.png" alt="logoFSPH" width="150rem" height="auto"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html">A Fundação</a>
                        <ul class="sub-menu">
                            <li><a href="#">Nossas Unidades</a></li>
                            <li><a href="#">Nossa História</a></li>
                            <li><a href="institucional.html">Institucional</a></li>
                            <li><a href="team.html">Profissionais</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#">Notícias</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Notícias</a></li>
                            <li><a href="blog-details.html">Notícias Detalhadas</a></li>
                        </ul>
                    </li>


                    <li class="menu-item-has-children">
                        <a href="#">Transparência</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Convênios e Transparência</a>
                                <ul class="sub-menu">
                                    <li><a href="#">2020</a></li>
                                    <li><a href="#">2021</a></li>
                                    <li><a href="#">2022</a></li>
                                    <li><a href="#">2023</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Rel. Atividade</a></li>
                            <li><a href="#">Despesa</a></li>
                            <li><a href="#">Receita</a></li>
                            <li><a href="#">Resp. Fiscal</a></li>
                            <li><a href="#">Pessoal</a></li>
                            <li><a href="#">Licitação</a></li>
                            <li><a href="#">Contrato</a></li>
                            <li><a href="#">Organograma</a></li>
                            <li><a href="#">Ouvidoria</a></li>
                            <li><a href="#">e-SIC</a></li>
                            <li><a href="#">Perguntas e Respostas</a></li>
                            <li><a href="#">Aprovados no PSS</a></li>
                            <li><a href="#">Convênios e Transparências</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Ouvidoria</a>
                    </li>

                </ul>
            </div>
        </div>
    </div><!--==============================
	Header Area
==============================-->


    <header class="th-header header-layout1">
        <!-- Aqui adiciona o modo Dark com cor de fundo #555 -->
        <div id="headerContatos" class="header-top">
            <div class="container">
                <div class="row justify-content-center align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-sm-inline-block"><i class="fas fa-phone icon-btn"></i><b>Telefone:</b> <a href="tel:+557932346010">+55 79 3234-6010</a></li>
                                <li class="d-none d-sm-inline-block"><i class="fas fa-envelope icon-btn"></i><b>Email:</b> <a href="mailto:ouvidoria.fsph@fsph.se.gov.br">ouvidoria.fsph@fsph.se.gov.br</a></li>
                                <li class="d-none d-xxl-inline-block"><i class="fas fa-location-dot icon-btn"></i> Av. Prof. José Bonifácio Fortes Neto, 400 - Bloco Adm 02 - Capucho CEP: 49095-000 Araaju/SE</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div id="menuArea" class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logoSemFundo.png" alt="Mediax" height="auto" width="300rem"></a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-inline-block">
                            <nav class="main-menu d-none d-lg-inline-block align-items-center">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="home-medical-clinic.html">A Fundação</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Nossas Unidades</a></li>
                                            <li><a href="#">Nossa História</a></li>
                                            <li><a href="institucional.html">Institucional</a></li>
                                            <li><a href="team.html">Profissionais</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Serviços</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Serviços</a></li>
                                            <li><a href="#">Serviços Detalhados</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Notícias</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Notícias</a></li>
                                            <li><a href="blog-details.html">Notícias Detalhadas</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Transparência</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Convênios e Transferências</a>
                                                <ul class="sub-menu">
                                                    <li><a href="#">2020</a></li>
                                                    <li><a href="#">2021</a></li>
                                                    <li><a href="#">2022</a></li>
                                                    <li><a href="#">2023</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="#">Rel. Atividade</a></li>
                                            <li><a href="#">Despesa</a></li>
                                            <li><a href="#">Receita</a></li>
                                            <li><a href="#">Resp. Fiscal</a></li>
                                            <li><a href="#">Pessoal</a></li>
                                            <li><a href="#">Licitação</a></li>
                                            <li><a href="#">Contrato</a></li>
                                            <li><a href="#">Organograma</a></li>
                                            <li><a href="#">Ouvidoria</a></li>
                                            <li><a href="#">e-SIC</a></li>
                                            <li><a href="#">Perguntas e Respostas</a></li>
                                            <li><a href="#">Aprovados no PSS</a></li>
                                            <li><a href="#">Convênios e Transferências</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="contact.html">Ouvidoria</a>
                                    </li>
                                    <li>
                                        <button class="toggle" id="toggle">
                                            <div class="toggle-thumb">
                                                <svg class="icon" viewBox="0 0 20 20">
                                                    <path fill="#fbbf24" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" />
                                                </svg>
                                            </div>
                                        </button>
                                    </li>


                                    <li>
                                        <button class="size-toggle" id="sizeToggle">Aa (1/3)</button>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                        <div class="col-auto">
                            <div class="header-button">
                                <!-- <button type="button" class="icon-btn searchBoxToggler d-none d-xl-inline-block"><i class="far fa-search"></i></button> -->
                                <button type="button" id="linksUteisDark" class="sideMenuInfo linksUteisBtn">Links Úteis</button>
                                <button type="button" class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i>Links Úteis</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="linhas">
        <div id="linhaVerde"></div>
        <div id="linhaAmarela"></div>
        <div id="linhaAzul"></div>
    </div>
    <!--==============================
Hero Area
==============================-->
    <div id="heroDarkMode" class="th-hero-wrapper hero-2" id="hero" data-bg-src="assets/img/imgFundo/mulher.jpg">
        <div class="hero-inner">
            <div class="container">
                <div class="hero-style2">
                    <span id="fsphDark" class="sub-title"><img src="assets/img/favicons/favicon_48x48.png" alt="shape">Fundação de Saúde Parreiras Horta</span>
                    <h1 class="hero-title2">
                        <span class="title1">Cuidando da <span class="line-text">Saúde</span></span>
                        <span class="title2">Em cada detalhe</span>
                    </h1>
                    <p id="textoHero" class="hero-text">A Fundação de Saúde Parreiras Horta atua com excelência em exames laboratoriais, verificação de óbitos, coleta de doações de sangue e transfusões, promovendo saúde e solidariedade para salvar vidas.</p>
                    <div class="btn-group justify-content-center">
                        <a href="../hemose/hemose.html" class="hemose-btn">HEMOSE</a>
                        <a href="#" class="lacen-btn">LACEN</a>
                        <a href="#" class="svo-btn">SVO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
About Area  
==============================-->
    <div class="space" id="about-sec">
        <div class="shape-mockup" data-top="0" data-right="0"></div>
        <div class="shape-mockup jump" data-bottom="10%" data-right="3%"></div>
        <div class="container slider" style="max-width: 800vw;">
            <div class="row align-items-center slide">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img id="img_hemose" src="assets/img/hemose.png" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/favicons/Favicon_40x40.png" alt="shape">Notícias</span>
                            <h2 class="sec-title">HEMOSE</h2>
                            <p id="text-hemose" class="sec-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis repudiandae laudantium incidunt officiis, sapiente quod hic inventore explicabo sequi eos, aut quibusdam enim debitis error numquam molestias consectetur. At, nihil!</p>
                        </div>
                        <div class="mb-30 mt-n1">
                            <div class="checklist style2 list-two-column">
                                <ul>
                                    <li><i class="fas fa-heart-pulse"></i> Coleta de Sangue</li>
                                    <li><i class="fas fa-heart-pulse"></i> Cadastro para Doação de Medula Óssea</li>
                                    <li><i class="fas fa-heart-pulse"></i> Atendimento Multidisciplinar</li>
                                    <li><i class="fas fa-heart-pulse"></i> Transfusão de Sangue</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="continueLendoBtn">Continue Lendo</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- segundo slide -->
            <div class="row align-items-center slide">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img id="img_svo" src="assets/img/svo.webp" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/favicons/Favicon_40x40.png" alt="shape">Notícias</span>
                            <h2 class="sec-title">SVO</h2>
                            <p class="sec-text" style="text-align: justify;">O SVO (Serviço de Verificação de Óbitos) de Sergipe é uma unidade de saúde responsável por investigar e determinar a causa de mortes naturais que ocorrem sem assistência médica ou por causas desconhecidas no estado. O serviço realiza exames post-mortem, como autópsias e análises complementares, quando necessário, para esclarecer as circunstâncias do óbito.</p>
                        </div>
                        <div class="mb-30 mt-n1">
                            <div class="checklist style2 list-two-column">
                                <ul>
                                    <li><i class="fas fa-heart-pulse"></i> Emissão de Declaração de Óbito</li>
                                    <li><i class="fas fa-heart-pulse"></i> Investigação de Causas de Morte</li>
                                    <li><i class="fas fa-heart-pulse"></i> Atendimento Humanizado</li>
                                    <li><i class="fas fa-heart-pulse"></i> Apoio a Pesquisas e Estudos</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="continueLendoBtn">Continue Lendo</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- terceiro slide -->
            <div class="row align-items-center slide" v-if="noticia.id_unidade_fk = 4">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img id="img_lacen" src="assets/img/lacen.jpg" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/favicons/Favicon_40x40.png" alt="shape">Notícias</span>
                            <h2 class="sec-title">LACEN</h2>
                            <p class="sec-text" id="text-lacen" style="text-align: justify;">O LACEN (Laboratório Central de Saúde Pública) de Sergipe é uma instituição vinculada à Secretaria de Estado da Saúde, responsável por realizar análises laboratoriais de interesse da saúde pública. Ele desempenha um papel essencial no diagnóstico e controle de doenças transmissíveis e não transmissíveis, monitoramento ambiental e sanitário, além de apoiar programas de vigilância epidemiológica.</p>
                        </div>
                        <div class="mb-30 mt-n1">
                            <div class="checklist style2 list-two-column">
                                <ul>
                                    <li><i class="fas fa-heart-pulse"></i> Análises Clínicas</li>
                                    <li><i class="fas fa-heart-pulse"></i> Análises Laboratoriais</li>
                                    <li><i class="fas fa-heart-pulse"></i> Vigilância Sanitária</li>
                                    <li><i class="fas fa-heart-pulse"></i> Monitoramento Epidemiológico</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="continueLendoBtn">Continue Lendo</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- quarto slide -->
            <div class="row align-items-center slide" v-if="noticia.id_unidade_fk = 4">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img id="img_fsph" src="assets/img/lacen.jpg" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/favicons/Favicon_40x40.png" alt="shape">Notícias</span>
                            <h2 class="sec-title">FSPH</h2>
                            <p class="sec-text" id="text-fsph" style="text-align: justify;">O LACEN (Laboratório Central de Saúde Pública) de Sergipe é uma instituição vinculada à Secretaria de Estado da Saúde, responsável por realizar análises laboratoriais de interesse da saúde pública. Ele desempenha um papel essencial no diagnóstico e controle de doenças transmissíveis e não transmissíveis, monitoramento ambiental e sanitário, além de apoiar programas de vigilância epidemiológica.</p>
                        </div>
                        <div class="mb-30 mt-n1">
                            <div class="checklist style2 list-two-column">
                                <ul>
                                    <li><i class="fas fa-heart-pulse"></i> Análises Clínicas</li>
                                    <li><i class="fas fa-heart-pulse"></i> Análises Laboratoriais</li>
                                    <li><i class="fas fa-heart-pulse"></i> Vigilância Sanitária</li>
                                    <li><i class="fas fa-heart-pulse"></i> Monitoramento Epidemiológico</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="continueLendoBtn">Continue Lendo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Area de História 
==============================-->
    <section class="overflow-hidden cta-sec4 mt-2 mobile" data-bg-src="assets/img/bg/cta_bg_4.jpg">
        <div class="container z-index-common">
            <div class="row align-items-end justify-content-center text-center text-xl-start">
                <div class="col-xl-7 col-lg-9 space-extra">
                    <div class="title-area mb-32 p-3 mr-5">
                        <h2 class="sec-title text-white">Nossa História</h2>
                        <p class="sec-text text-white" style="text-align: justify;">A história da medicina moderna em Sergipe começou com a visão inovadora de dois homens: Graccho Cardoso e Parreiras Horta. Em um momento em que o Brasil carecia de estrutura e ciência no campo da saúde, eles trouxeram a modernidade e a cientificidade para Aracaju, transformando a forma como a medicina era praticada...</p>
                    </div>
                    <div class="btn-group justify-content-center">
                        <a href="#" class="continueLendoBtn saibaMais">Saiba Mais</a>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="img-box2">
                        <img src="assets/img/laboratorio2.jpeg" alt="image" height="25px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
Area dos contadores 
==============================-->
    <!-- <div class="z-index-common mt-5 mb-1" data-pos-for="#team-sec" data-sec-pos="bottom-half">
        <div class="container">
            <div class="counter-card-wrap">
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span class="counter-number">69</span>k</span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Satifação dos Pacientes</p>
                </div>
                <div class="divider"></div>
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span class="counter-number">236</span></span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Profissionais</p>
                </div>
                <div class="divider"></div>
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span class="counter-number">19</span>k</span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Transfusões</p>
                </div>
                <div class="divider"></div>
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span class="counter-number">320</span></span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Atendimentos</p>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div> -->
    <!--==============================
Horários 
==============================-->
    <div class="overflow-hidden space">
        <div class="container">
            <div class="appointment-row">
                <div class="schedule-box">
                    <div class="shape"></div>
                    <h3 class="box-title">Horário de Funcionameto</h3>
                    <p class="box-text">Podendo variar em finais de semana ou feriados</p>
                    <p class="box-timing">Segunda-Feira: <span>07:00 - 13:00</span></p>
                    <p class="box-timing">Terça-Feira: <span>07:00 - 13:00 </span></p>
                    <p class="box-timing">Quarta-Feira: <span>07:00 - 13:00</span></p>
                    <p class="box-timing">Quinta-Feira: <span>07:00 - 13:00</span></p>
                    <p class="box-timing">Sexta-Feira: <span>07:00 - 13:00</span></p>
                </div>
                <div class="form-wrap">
                    <div class="scrollAppointment-form">
                        <form class="appointment-form" id="eventos">
                            <h4 class="form-title">Agenda de Coletas Externas</h4>
                            <div class="row">
                                <div class="form-group col-12 agendaFundacao" v-for="evento in eventosPublicados.data" :key="evento.id_evento">
                                    <span style="color: #000;">{{evento.evento}}</span>
                                    <span style="color: #000;">{{evento.dt_evento}}</span>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-layout1">
        <div class="widget-area" id="footerDark">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/img/logoSemFundo.png" alt="fsphLogo"></a>
                                </div>
                                <p class="about-text">Fundação de Saúde Parreiras Horta - Cuidando da saúde em cada detalhe.</p>
                                <p class="footer-info">
                                    <i class="fal fa-location-dot" style="color: #aaa;"></i>
                                    Av. Prof. José Bonifácio Fortes Neto, 400 - Capucho, Aracaju/SE
                                </p>
                                <p class="footer-info">
                                    <i class="fal fa-envelope" style="color: #aaa;"></i>
                                    <a href="mailto:ouvidoria.fsph@fsph.se.gov.br" class="info-box_link">ouvidoria.fsph@fsph.se.gov.br</a>
                                </p>
                                <p class="footer-info">
                                    <i class="fal fa-phone" style="color: #aaa;"></i>
                                    <a href="tel:+557932346010" class="info-box_link">+55 79 3234-6010</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Unidades</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="#">SVO - Serviço de Verificação de Óbito</a></li>
                                    <li><a href="#">LACEN - Laboratório Cental</a></li>
                                    <li><a href="../hemose/hemose.html">HEMOSE - Centro de Hemoterapia de Sergipe</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Sobre Nós</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="institucional.html">Institucional</a></li>
                                    <li><a href="#">Transparência</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li><a href="team.html">Nossa Equipe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Notícias Recentes</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog.html"><img :src="noticiasMaisRecente.foto_capa" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog.html" v-html="noticiasMaisRecente.titulo"></a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html" style="color: #fff;"><i class="fal fa-calendar" style="color: #fff;"></i>{{ noticiasMaisRecente.dt_noticia.split('T')[0].split('-').reverse().join('/') }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img :src="segundaNoticiaMaisRecente.foto_capa" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html" v-html="segundaNoticiaMaisRecente.titulo"></a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html" style="color: #fff;"><i class="fal fa-calendar" style="color: #fff;"></i>{{ segundaNoticiaMaisRecente.dt_noticia.split('T')[0].split('-').reverse().join('/') }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap" id="littleFooter">
            <div class="container">
                <div class="row gy-2 align-items-center">
                    <div class="col-md-7">
                        <p class="copyright-text"><i class="fal fa-copyright"></i> FSPH - Fundação de Saúde Parreiras Horta 2024.</p>
                    </div>
                    <div class="col-md-5 text-center text-md-end">
                        <div class="th-social"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!-- VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- datetimepicker -->
    <script src="assets/js/jquery.datetimepicker.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/modoDark.js"></script>

    <!-- VLibras -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>