<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HEMOSE - Centro de Hematologia de Sergipe - Notícias HEMOSE</title>
    <meta name="author" content="Hemose">
    <meta name="description" content="Hemose - Centro de Hematologia de Sergipe">
    <meta name="keywords" content="Hemose - Centro de Hematologia de Sergipe">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Outfit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/hemose.css">

    <script src="assets/js/myvue.js" defer></script>

</head>

<body>
    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader ">
        <div class="preloader-inner">
            <div class="loader"></div>
        </div>
    </div>
    <!--==============================
    Sidemenu
============================== -->
    <!-- <div class="sidemenu-wrapper sidemenu-info ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget  ">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="hemose.html">
                            <img src="assets/img/logo_hemose.png" alt="logoHemose" width="150rem" height="auto">
                        </a>
                    </div>
                </div>
            </div>
            <div class="widget  ">
                <h3 class="widget_title">Portal do Doador</h3>
                <div class="newsletter-widget">
                    <p class="footer-text">Acesse o seu portal</p>
                    <form action="#" class="newsletter-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Digite seu Email" required="">
                            <input class="form-control" type="password" placeholder="Digite sua Senha" required="">
                        </div>
                        <button type="submit" class="submitBtn">Login</button>
                        <button type="submit" class="submitBtn">Cadastre-se</button>
                    </form>
                    <div class="form-group">
                        <input type="checkbox" id="checkboxagree" name="checkboxagree">
                        <label for="checkboxagree">Lembrar Senha</label>
                    </div>
                    <div class="btn-group">
                        <a href="https://play.google.com/" class="img-btn">
                            <img src="assets/img/normal/apple_store.png" alt="icon">
                        </a>
                        <a href="https://play.google.com/" class="img-btn">
                            <img src="assets/img/normal/play_store.png" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="O que você está procurando ?">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div> -->
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="hemose.html"><img src="assets/img/logo_hemose.png" alt="logoFSPH" width="150rem" height="auto"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="hemose.html">O HEMOSE</a>
                        <ul class="sub-menu">
                            <li><a href="institucionalHemose.html">Institucional</a></li>
                            <li><a href="http://hemose.se.gov.br/wp-content/uploads/2019/01/FSPH-HC.03.RG008-00-Autoriza%C3%A7%C3%A3o-para-Doa%C3%A7%C3%A3o-de-Sangue-por-Menor-de-Idade.pdf">Autorização para Menores de Idade</a></li>
                        </ul>
                    </li>


                    <li class="menu-item-has-children">
                        <a href="#">Notícias</a>
                        <ul class="sub-menu">
                            <li><a href="blogHemose.html">Notícias</a></li>
                            <li><a href="blogDetailsHemose.html">Notícias Detalhadas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="medulaOssea.html">Cadastro de Medula Óssea</a>
                    </li>
                    <li>
                        <a href="#faq-sec">Perguntas Frequentes</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><!--==============================
	Header Area
==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-sm-inline-block"><i class="fas fa-phone icon-btn"></i><b>Telefone:</b> <a href="tel:+557932258019">+55 79 3225-8019</a></li>
                                <li class="d-none d-sm-inline-block"><i class="fas fa-envelope icon-btn"></i><b>Email:</b> <a href="mailto:ssocial.hemose@fsph.se.gov.br">ssocial.hemose@fsph.se.gov.br</a></li>
                                <li class="d-none d-xxl-inline-block"><i class="fas fa-location-dot icon-btn"></i> Av. Prof. José Bonifácio Fortes Neto, 400 - Bloco 01 - Capucho CEP: 49095-000 Aracaju/SE</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area" style="background-color: var(--white-color);">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="hemose.html"><img src="assets/img/logo_hemose.png" alt="logoHemose" height="auto" width="120rem"></a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-inline-block">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>

                                    <li class="menu-item-has-children">
                                        <a href="hemose.html">O HEMOSE</a>
                                        <ul class="sub-menu">
                                            <li><a href="institucionalHemose.html">Institucional</a></li>
                                            <li><a href="http://hemose.se.gov.br/wp-content/uploads/2019/01/FSPH-HC.03.RG008-00-Autoriza%C3%A7%C3%A3o-para-Doa%C3%A7%C3%A3o-de-Sangue-por-Menor-de-Idade.pdf">Autorização para Menores de Idade</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Notícias</a>
                                        <ul class="sub-menu">
                                            <li><a href="blogHemose.html">Notícias HEMOSE</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="teamHemose.html">Profissionais</a>
                                    </li>
                                    <li>
                                        <a href="medulaOssea.html">Cadastro de Medula Óssea</a>
                                    </li>
                                    <li>
                                        <a href="#faq-sec">Perguntas Frequentes</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <div class="header-button">
                                <!-- <button type="button" class="icon-btn searchBoxToggler d-none d-xl-inline-block"><i class="far fa-search"></i></button> -->
                                <!-- <button type="button" id="doadorBtn" class="sideMenuInfo continueLendoBtn">Portal do Doador</button>
                            <button type="button" class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/cta_bg_hemose_4.svg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title" style="color: #fff;">Notícias HEMOSE</h1>
                <ul class="breadcumb-menu">
                    <li><a href="hemose.html" style="color: #fff;">Inicio</a></li>
                    <li><a href="blogHemose.html" style="color: #fff;">Notícias HEMOSE</a></li>
                </ul>
            </div>
        </div>
    </div><!--==============================
Blog Area
==============================-->
    <section class="th-blog-wrapper space-top space-extra-bottom" id="areaNoticia">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="th-blog blog-single has-post-thumbnail" v-for="item in noticias.data" v-if="item.id_unidade_fk === 2" :key="item.id_noticia">
                        <div class="blog-img">
                            <a href="#"><img :src="item.foto_capa" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a class="author" href="#"><i class="fal fa-user"></i>Por: {{item.autor_noticia}}</a>
                                <a href="#"><i class="fal fa-calendar"></i>{{item.dt_noticia}}</a>

                            </div>
                            <h2 class="blog-title"><a href="#">{{item.titulo}}</a>
                            </h2>
                            <p class="blog-text">{{item.titulo_pri_paragrafo}} </p>
                            <button @click.prevent="verNoticia(item.id_noticia)" class="continueLendoBtn">Continue Lendo</button>
                        </div>
                    </div>

                    <div class="th-pagination text-center">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="far fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
                        <!-- <div class="widget widget_search  ">
                            <form class="search-form">
                                <input type="text" placeholder="Digite uma Palavra-Chave">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div> -->
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Categorias</h3>
                            <ul>
                                <li>
                                    <a href="../fundacao/index.html">FSPH</a>
                                </li>
                                <li>
                                    <a href="hemose.html">HEMOSE</a>
                                </li>
                                <!-- <li>
                                    <a href="#">LACEN</a>
                                </li>
                                <li>
                                    <a href="#">SVO</a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="widget widget_tag_cloud  ">
                            <h3 class="widget_title">Palavras-Chave</h3>
                            <div class="tagcloud">
                                <a href="#">HEMOSE</a>
                                <a href="#">LACEN</a>
                                <a href="#">SVO</a>
                                <a href="#">FSPH</a>
                                <a href="#">Atendimento</a>
                                <a href="#">Cadastro</a>
                                <a href="#">Doação</a>
                                <a href="#">Hemocomponentes</a>
                                <a href="#">IPH</a>
                                <a href="#">Protocolos</a>
                                <a href="#">Sangue</a>
                                <a href="#">Resultados</a>
                                <a href="#">Sistema</a>
                                <a href="#">Solidário</a>
                                <a href="#">Transportadores de Sangue</a>
                                <a href="#">Uninassau</a>
                                <a href="#">Saúde Pública</a>
                                <a href="#">GAL</a>
                                <a href="#">Análises Laboratoriais</a>
                                <a href="#">Abertura</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footerHemose.svg">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="hemose.html"><img src="assets/img/logo_hemose.png" alt="logoHemose" width="125rem" height="auto"></a>
                                </div>
                                <p class="about-text hemoseFooter">Centro de Hemoterapia de Sergipe - HEMOSE.</p>

                                <p class="footer-info">
                                    <i class="fal fa-location-dot" style="color: #aaa;"></i>
                                    Av. Prof. José Bonifácio Fortes Neto, 400 - Capucho, Aracaju/SE
                                </p>
                                <p class="footer-info">
                                    <i class="fal fa-envelope" style="color: #aaa;"></i>
                                    <a href="mailto:ssocial.hemose@fsph.se.gov.br" class="info-box_link">ssocial.hemose@fsph.se.gov.br</a>
                                </p>
                                <p class="footer-info">
                                    <i class="fal fa-phone" style="color: #aaa;"></i>
                                    <a href="tel:+557932258019" class="info-box_link">+55 79 3225-8019</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title hemoseFooter">Unidades</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="../fundacao/index.html">FSPH - Fundação de Saúde Parreiras Horta</a></li>
                                    <li><a href="hemose.html">HEMOSE - Centro de Hemoterapia de Sergipe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title hemoseFooter">Sobre Nós</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="institucionalHemose.html">Institucional</a></li>
                                    <li><a href="#">Transparência</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li><a href="teamHemose.html">Nossa Equipe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget footer-widget">
                            <h3 class="widget_title hemoseFooter">Notícias Recentes</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="#"><img :src="noticiasMaisRecente.foto_capa" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="#" style="color: var(--theme-color);" v-html="noticiasMaisRecente.titulo"></a></h4>
                                        <div class="recent-post-meta">
                                            <a href="#" style="color: var(--theme-color);"><i class="fal fa-calendar" style="color: var(--theme-color);"></i> {{noticiasMaisRecente.dt_noticia}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="#"><img :src="segundaNoticiaMaisRecente.foto_capa" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="#" style="color: var(--theme-color);" v-html="segundaNoticiaMaisRecente.titulo"></a></h4>
                                        <div class="recent-post-meta">
                                            <a href="#" style="color: var(--theme-color);"><i class="fal fa-calendar" style="color: var(--theme-color);"></i>{{segundaNoticiaMaisRecente.dt_noticia}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap" style="background-color: var(--theme-color2);">
            <div class="container">
                <div class="row gy-2 align-items-center">
                    <div class="col-md-7">
                        <p class="copyright-text"><i class="fal fa-copyright"></i> HEMOSE - Centro de Hematologia de Sergipe 2024.</p>
                    </div>
                    <div class="col-md-5 text-center text-md-end">
                        <div class="th-social"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- datetimepicker -->
    <script src="assets/js/jquery.datetimepicker.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!-- Main Js File -->
    <script src="assets/js/vue.js"></script>

    <script src="assets/js/main.js"></script>
    <script src="assets/js/footer.js"></script>



</body>

</html>