<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FSPH | HEMOSE - Centro de Hemoterapia de Sergipe</title>
    <meta name="author" content="FSPH">
    <meta name="description" content="FSPH - Fundação de Saúde Parreiras Horta">
    <meta name="keywords" content="HEMOSE">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Outfit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/hemose.css">
    <script src="assets/js/slide.js" defer></script>
    <script src="assets/js/transicao.js" defer></script>
    <script src="assets/js/eventos.js" defer></script>
    <script src="assets/js/estoque.js" defer></script>
    <script src="assets/js/agendamento.js" defer></script>


</head>

<body>
    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader ">
        <div class="preloader-inner">
            <div class="loader"></div>
        </div>
    </div>


    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="hemose.html"><img src="assets/img/logo_hemose.png" alt="logoFSPH" width="150rem" height="auto"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="hemose.html">O HEMOSE</a>
                        <ul class="sub-menu">
                            <li><a href="institucionalHemose.html">Institucional</a></li>
                            <li><a href="http://hemose.se.gov.br/wp-content/uploads/2019/01/FSPH-HC.03.RG008-00-Autoriza%C3%A7%C3%A3o-para-Doa%C3%A7%C3%A3o-de-Sangue-por-Menor-de-Idade.pdf">Autorização para Menores de Idade</a></li>
                        </ul>
                    </li>


                    <li class="menu-item-has-children">
                        <a href="#">Notícias</a>
                        <ul class="sub-menu">
                            <li><a href="blogHemose.html">Notícias</a></li>
                            <li><a href="blogDetailsHemose.html">Notícias Detalhadas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="medulaOssea.html">Cadastro de Medula Óssea</a>
                    </li>
                    <li>
                        <a href="#faq-sec">Perguntas Frequentes</a>
                    </li>

                </ul>

            </div>
        </div>
    </div><!--==============================
	Header Area
==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-sm-inline-block"><i class="fas fa-phone icon-btn"></i><b>Telefone:</b> <a href="tel:+557932258019">+55 79 3225-8019</a></li>
                                <li class="d-none d-sm-inline-block"><i class="fas fa-envelope icon-btn"></i><b>Email:</b> <a href="mailto:ssocial.hemose@fsph.se.gov.br">ssocial.hemose@fsph.se.gov.br</a></li>
                                <li class="d-none d-xxl-inline-block"><i class="fas fa-location-dot icon-btn"></i> Av. Prof. José Bonifácio Fortes Neto, 400 - Bloco 01 - Capucho CEP: 49095-000 Aracaju/SE</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area" style="background-color: var(--white-color);">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="hemose.html"><img src="assets/img/logo_hemose.png" alt="logoHemose" height="auto" width="120rem"></a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-inline-block">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>

                                    <li class="menu-item-has-children">
                                        <a href="hemose.html">O HEMOSE</a>
                                        <ul class="sub-menu">
                                            <li><a href="institucionalHemose.html">Institucional</a></li>
                                            <li><a href="http://hemose.se.gov.br/wp-content/uploads/2019/01/FSPH-HC.03.RG008-00-Autoriza%C3%A7%C3%A3o-para-Doa%C3%A7%C3%A3o-de-Sangue-por-Menor-de-Idade.pdf">Autorização para Menores de Idade</a></li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Notícias</a>
                                        <ul class="sub-menu">
                                            <li><a href="blogHemose.html">Notícias HEMOSE</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="teamHemose.html">Profissionais</a>
                                    </li>
                                    <li>
                                        <a href="medulaOssea.html">Cadastro de Medula Óssea</a>
                                    </li>
                                    <li>
                                        <a href="#faq-sec">Perguntas Frequentes</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <div class="header-button">
                                <!-- <button type="button" class="icon-btn searchBoxToggler d-none d-xl-inline-block"><i class="far fa-search"></i></button> -->
                                <!-- <button type="button" id="doadorBtn" class="sideMenuInfo continueLendoBtn">Portal do Doador</button>
                                <button type="button" class="th-menu-toggle d-block d-lg-none"><i class="far fa-bars"></i></button> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
Hero Area
==============================-->
    <div class="th-hero-wrapper hero-1" id="hero" data-bg-src="assets/img/bg/bg_hero_hm.jpg">
        <div class="swiper th-slider" id="heroSlide1" data-slider-options='{"effect":"fade","autoHeight":true}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container">
                            <div class="hero-style1">
                                <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">Atendimento Multidisciplinar</span>
                                <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">Ambulatório Especializado</h1>
                                <h2 class="hero-heading" data-ani="slideinup" data-ani-delay="0.4s">Em <span class="text-theme">Hemoterapia</span> e <span class="text-theme">Hematologia</span></h2>
                                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">Realizamos o atendimento e tratamento de pacientes portadores de coagulopatias e hemoglobinopatias.</p>
                                <!-- <a href="#" class="saibaMaisBtn" data-ani="slideinup" data-ani-delay="0.6s">Saiba Mais</a> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container">
                            <div class="hero-style1">
                                <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">Doação de Sangue</span>
                                <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">Doe <span class="text-theme">Sangue</span>, Doe <span class="text-theme">Vida</span>!</h1>
                                <h2 class="hero-heading" data-ani="slideinup" data-ani-delay="0.4s">Profissionais <span class="text-theme">Especializados</span> para te acompanhar.</h2>
                                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">Doe sangue e transforme vidas. Seu gesto oferece esperança a quem precisa. Ajude a manter estoques para emergências e tratamentos!</p>
                                <a href="#agendamento-doacao" class="saibaMaisBtn" data-ani="slideinup" data-ani-delay="0.6s">Agende sua Doação Agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container">
                            <div class="hero-style1">
                                <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0.2s">Análises e Processamentos</span>
                                <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.3s">Dispensação Estadual</h1>
                                <h2 class="hero-heading" data-ani="slideinup" data-ani-delay="0.4s"><span class="text-theme">Hemocomponentes </span> e <span class="text-theme">Derivados </span></h2>
                                <p class="hero-text" data-ani="slideinup" data-ani-delay="0.5s">De acordo com a sua classificação e qualidade comprovada, são estocados adequadamente para serem distribuidos aos hospitais conveniados da rede publica e privada.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-thumb-wrap">
            <div class="hero-thumb" data-slider-tab="#heroSlide1">
                <div class="tab-btn active">
                    <img src="assets/img/hero/2.png" alt="Image" width="26" height="22">
                </div>
                <div class="tab-btn">
                    <img src="assets/img/hero/3.png" alt="Image" width="26" height="22">
                </div>
                <div class="tab-btn">
                    <img src="assets/img/hero/1.png" alt="Image" width="26" height="22">
                </div>
            </div>
        </div>
    </div>
    <!--======== / Estoque de Sangue ========-->

    <div class="brand-sec1" id="estoqueResponsivo">

        <div class="container th-container">
            <div class="swiper th-slider" data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"420":{"slidesPerView":"3"},"768":{"slidesPerView":"4"},"992":{"slidesPerView":"5"},"1200":{"slidesPerView":"6"},"1400":{"slidesPerView":"8"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="({ fatorrh, grupoabo, situacao }) in estoque.data" :key="grupoabo + fatorrh">
                        <div class="brand-box">
                            <div class="estoqueSangue">
                                <i :class="situacao === 'Ideal' ? 'fa-solid fa-droplet' : 
                                    situacao === 'Emergencia' ? 'fa-thin fa-droplet' : 
                                    situacao === 'Alerta' ? 'fa-regular fa-droplet' : 
                                    situacao === 'Critico' ? 'fa-light fa-droplet' : ''">
                                </i>
                                <span>{{ grupoabo }}{{ fatorrh === 'N' ? '-' : '+' }}</span>
                            </div>
                            <span>{{ situacao }}</span>
                        </div>
                    </div>
                </div>
                <p style="text-align: end; color: var(--theme-color);">Nivel de estoque em: {{estoque.updated}}</p>

            </div>
        </div>
    </div>
    <!-- ===========================================
     Agendamento do Doador
     ============================================== -->
    <div class="space" id="agendamento-doacao" data-bg-src="assets/img/bg/pattern_bg_7.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-shape-wrap">
                        <div class="form-shape">
                            <img src="assets/img/gallery/womanDonate.svg" alt="donateImg" id="slideImage" style="height: 62.5vh; width: 13vw;">
                        </div>
                        <div class="agendamentos">
                            <form method="POST" class="faq-form2" id="agendamentoDoacaoIndividual" v-show="exibirDoacaoIndividual">
                                <h4 class="box-title text-center">Agende Sua Doação</h4>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <input type="text" class="form-control" v-model="agendamentoIndividual.nomeCompletoIndividual" name="name" id="name" placeholder="Digite seu nome completo">
                                        <i class="fal fa-user"></i>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="email" class="form-control" v-model="agendamentoIndividual.emailIndividual" name="email" id="email" placeholder="Digite seu email">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="tel" class="form-control" v-model="agendamentoIndividual.telIndividual" name="number" id="number" placeholder="Melhor Contato">
                                        <i class="fal fa-phone"></i>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="text" class="form-control" v-model="agendamentoIndividual.cpfIndividual" name="name" id="cpf" placeholder="CPF">
                                        <i class="fal fa-user"></i>
                                    </div>
                                    <div class="form-group col-6">
                                        <input type="text" class="date-pick form-control" v-model="agendamentoIndividual.data" name="date" id="date-pick" placeholder="Data">
                                        <i class="fal fa-calendar"></i>
                                    </div>
                                    <div class="form-group col-6">
                                        <input type="text" class="time-pick form-control" v-model="agendamentoIndividual.hora" name="time" id="time-pick" placeholder="Hora">
                                        <i class="fal fa-clock"></i>
                                    </div>
                                    <div class="form-btn col-12">
                                        <button class="agendamentoBtn">Agendar</button>
                                        <span id="alterarParaCampanha" @click="transicao">Clique aqui para agendar uma Campanha</span>

                                    </div>
                                </div>
                                <p class="form-messages mb-0 mt-3"></p>
                            </form>
                            <form class="faq-form2" id="agendamentoCampanha" v-show="!exibirDoacaoIndividual">
                                <h4 class="box-title text-center">Agende Sua Campanha</h4>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <input type="text" class="form-control" name="name" id="nameCampanha" placeholder="Nome completo do responsavel da campanha">
                                        <i class="fal fa-user"></i>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="email" class="form-control" name="email" id="emailCampanha" placeholder="Email do responsavel pela campanha">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="tel" class="form-control" name="number" id="numeroCampanha" placeholder="Celular para contato do responsavel pela camapanha">
                                        <i class="fal fa-phone"></i>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="text" class="form-control" name="name" id="qtdPessoas" placeholder="Quantidade de Pessoas">
                                        <i class="fal fa-user"></i>
                                    </div>
                                    <div class="form-group col-6">
                                        <input type="text" class="date-pick form-control" name="date" id="dataCampanha" placeholder="Data">
                                        <i class="fal fa-calendar"></i>
                                    </div>
                                    <div class="form-group col-6">
                                        <select name="turno" id="turno">
                                            <option value="" selected disabled>Selecione o Turno</option>
                                            <option value="manha">Manhã</option>
                                            <option value="tarde">Tarde</option>
                                        </select>

                                    </div>
                                    <div class="form-btn col-12">
                                        <button class="agendamentoBtn">Agendar Campanha</button>
                                        <span id="alterarParaDoacao" onclick="transicao()">Clique aqui para agendar uma Doação Individual</span>

                                    </div>
                                </div>
                                <p class="form-messages mb-0 mt-3"></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-40 mt-xl-0">
                    <div class="ps-xxl-5">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/favicons/Favicon_40x40.png" alt="shape">Centro de Hemoterapia de Sergipe</span>
                            <p class="sec-text">A cada doação de sangue, você pode salvar até <span style="color: var(--theme-color); font-weight: bold; font-size: 20px !important;">4 vidas</span>. Agendar sua doação é rápido, fácil e transforma o seu tempo em um ato de amor e solidariedade.</p>
                        </div>
                        <h3 class="box-title mb-20">Como Agendar ?</h3>
                        <div class="contact-process-wrap">
                            <div class="contact-process">
                                <div class="box-number">01</div>
                                <div class="media-body">
                                    <h3 class="box-title">Escolha seu Horário</h3>
                                    <p class="box-text" style="color: var(--title-color); width: 25vw !important;">De Segunda à Sexta-Feira das 07:00 às 17:00</p>
                                </div>
                            </div>
                            <div class="contact-process">
                                <div class="box-number">02</div>
                                <div class="media-body">
                                    <h3 class="box-title">Dirija-se ao HEMOSE</h3>
                                    <p class="box-text" style="color: var(--title-color); width: 25vw !important;">Av. Prof. José Bonifácio Fortes Neto, 400 - Bloco 01 - Capucho CEP: 49095-000 Aracaju/SE</p>
                                </div>
                            </div>
                            <div class="contact-process">
                                <div class="box-number">03</div>
                                <div class="media-body">
                                    <h3 class="box-title">Seja um herói no dia de alguém</h3>
                                    <p class="box-text" style="color: var(--title-color); width: 25vw !important;">Sua doação pode salvar vidas e trazer esperança a quem mais precisa. Faça a diferença!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =======================
     depoimentos area
     =========================== -->

    <section class="overflow-hidden space" data-bg-src="assets/img/bg/depoimento.svg" id="depoimentos">
        <div class="testi-element-area">
            <div class="row flex-row-reverse">
                <div class="col-xl-7 align-self-center">
                    <div class="title-area text-center text-xl-start">
                        <span class="sub-title"><img src="assets/img/favicons/Favicon_40x40.png" alt="shape">Depoimentos</span>
                        <h2 class="sec-title text-white">O que os Doadores pensam?</h2>
                    </div>
                    <div class="swiper th-slider has-shadow" id="testiSlide1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"1"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"1.3"},"1500":{"slidesPerView":"1.8"}}}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="depoimento in depoimentos" :key="depoimento.id_depoimento">
                                <div class="testi-element">
                                    <div class="box-profile">
                                        <div class="box-img">
                                            <img :src="depoimento.foto_criador" alt="Avater" height="80" width="80">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="box-title">{{ depoimento.nome_criador }}</h3>
                                            <p class="box-desig">{{ depoimento.ocupacao_criador }}</p>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <div class="box-quote">
                                            <img src="assets/img/icon/quote_6.png" alt="Icon">
                                        </div>
                                        <div class="box-review">
                                            <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                        </div>
                                        <p class="box-text" style="color: var(--theme-color);">"{{depoimento.texto_depoimento}}"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 mt-40 mt-xl-0">
                    <div class="rounded-20">
                        <img src="assets/img/imgFundo/womanAndNurse.svg" alt="image" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="counter-sec2" data-overlay="theme2">
        <div class="container">
            <div class="counter-card-wrap" id="estatistica">
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span>{{formatarNumero(animTransfusoes)}}</span></span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Transfusões Realizadas</p>
                </div>

                <div class="divider"></div>
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span>{{formatarNumero(animAtendimento)}}</span></span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Atendimento Ambulatorial</p>
                </div>
                <div class="divider"></div>
                <div class="counter-card">
                    <h2 class="box-number">

                        <span class="number"><span>{{formatarNumero(animDoacoes)}}</span></span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Doações Recebidas</p>
                </div>
                <div class="divider"></div>
                <div class="counter-card">
                    <h2 class="box-number">
                        <span class="number"><span>{{formatarNumero(animExternas)}}</span></span><span class="plus">+</span>
                    </h2>
                    <p class="box-text">Doações de Coletas Externas</p>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="overflow-hidden space">
        <div class="container">
            <div class="appointment-row">
                <div class="schedule-box">
                    <div class="shape"></div>
                    <h3 class="box-title">Funcionamento do HEMOSE</h3>
                    <p class="box-text">Podendo variar em finais de semana ou feriados</p>
                    <p class="box-timing">Segunda-Feira: <span>07:30 - 17:00</span></p>
                    <p class="box-timing">Terça-Feira: <span>07:30 - 17:00 </span></p>
                    <p class="box-timing">Quarta-Feira: <span>07:30 - 17:00</span></p>
                    <p class="box-timing">Quinta-Feira: <span>07:30 - 17:00</span></p>
                    <p class="box-timing">Sexta-Feira: <span>07:30 - 17:00</span></p>
                </div>
                <div class="form-wrap">
                    <div class="scrollAppointment-form">
                        <form class="appointment-form" id="eventos">
                            <h4 class="form-title">Agenda de Coletas Externas</h4>
                            <div class="row">
                                <div class="form-group col-12 agendaFundacao" v-for="evento in eventosPublicados.data" v-if="evento.id_unidade_fk === 2" :key="evento.id_evento">
                                    <span>{{evento.evento}}</span>
                                    <span>{{evento.dt_evento}}</span>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Perguntas Frequentes
==============================-->
    <div class="space" id="faq-sec">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title3">Tire Mais Dúvidas!</span>
                <h2 class="sec-title">Perguntas Frequentes</h2>
            </div>
            <div class="row gy-40">
                <div class="col-xl-7">
                    <div class="accordion accordion-area3" id="faqAccordion3">


                        <div class="accordion-card style2 active">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">O que preciso para poder doar?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion3">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Ter entre 16 e 69 anos de idade;</li>
                                        <li>Pesar acima de 50kg;</li>
                                        <li>Apresentar documento com foto, válido em todo território nacional;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card style2 ">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">Quais são as recomendações para o dia da doação ?</button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion3">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Nunca vá doar sangue em jejum;</li>
                                        <li>Faça um repouso mínimo de 6 horas na noite anterior à doação;</li>
                                        <li>Não ingira bebida alcoolica nas 12 horas anteriores;</li>
                                        <li>Evite fumar por pelo menos 2 horas antes da doação;</li>
                                        <li>Evite alimentos gordurosos nas 3 horas antecedentes à doação;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card style2 ">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Quem não pode doar ?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion3">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Quem teve diagnóstico de hepatite após os 11 anos de idade;</li>
                                        <li>Mulheres grávidas ou que estejam amamentando;</li>
                                        <li>Pessoas que estão expostas a doenças transmissíveis pelo sangue, como AIDS, Hepatite, Sífilis e doença de chagas;</li>
                                        <li>Usuário de Drogas~;</li>
                                        <li>Pessoas que fizeram tatuagem ou colocaram piercing em locais não controlados pela Vigilância Sanitária nos ultimos 10 meses;</li>
                                        <li>Aqueles que tiveram relacionamento sexual com parceiro desconhecido ou eventual, sem uso de preservativo, nos ultimos 12 meses;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card style2 ">
                            <div class="accordion-header" id="collapse-item-4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">O que acontece com o sangue após a doação ?</button>
                            </div>
                            <div id="collapse-4" class="accordion-collapse collapse " aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion3">
                                <div class="accordion-body">
                                    <p>Todo sangue doado é separado em diferentes componentes como:</p>
                                    <ul>
                                        <li>Hemácias;</li>
                                        <li>Plaquetas;</li>
                                        <li>Plasma;</li>
                                    </ul>
                                    <p>E assim poderá beneficiar mais de um paciente com apenas uma unidade coletada. Os componentes são distribuídos aos hospitais para atender casos de emergência e pacientes internados.</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card style2 ">
                            <div class="accordion-header" id="collapse-item-5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">Com que frequência posso doar sangue?</button>
                            </div>
                            <div id="collapse-5" class="accordion-collapse collapse " aria-labelledby="collapse-item-5" data-bs-parent="#faqAccordion3">
                                <div class="accordion-body">
                                    <ul>
                                        <li>Homens podem doar a cada 2 meses, até 4 vezes por ano;</li>
                                        <li>Mulheres podem doar a cada 3 meses, até 3 vezes por ano;</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-5">
                    <div class="ps-xxl-5">
                        <form action="mail.php" method="POST" class="faq-form2">
                            <h4 class="box-title text-center">Pergunte-Nos</h4>
                            <div class="row">
                                <div class="form-group col-12">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Seu nome">
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="form-group col-12">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="form-group col-12">
                                    <input type="tel" class="form-control" name="number" id="number" placeholder="Celular">
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="form-group col-12">
                                    <select name="subject" id="subject" class="form-select">
                                        <option value="" disabled selected hidden>Selecione o Assunto</option>
                                        <option value="Make Appointment">Doação</option>
                                        <option value="General Inquiry">Campanha de Doação</option>
                                        <option value="Medicine Help">Atendimento Ambulatorial</option>
                                        <option value="Consultation">Cadastro de Madula Óssea</option>
                                    </select>
                                    <i class="fal fa-chevron-down"></i>
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" class="date-pick form-control" name="date" id="date-pick" placeholder="Date">
                                    <i class="fal fa-calendar"></i>
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" class="time-pick form-control" name="time" id="time-pick" placeholder="Time">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="form-btn col-12">
                                    <button class="continueLendoBtn" style="width: 100%;">Perguntar</button>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3"></p>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footerHemose.svg">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="hemose.html"><img src="assets/img/logo_hemose.png" alt="logoHemose" width="125rem" height="auto"></a>
                                </div>
                                <p class="about-text hemoseFooter">Centro de Hemoterapia de Sergipe - HEMOSE.</p>

                                <p class="footer-info">
                                    <i class="fal fa-location-dot" style="color: #aaa;"></i>
                                    Av. Prof. José Bonifácio Fortes Neto, 400 - Capucho, Aracaju/SE
                                </p>
                                <p class="footer-info">
                                    <i class="fal fa-envelope" style="color: #aaa;"></i>
                                    <a href="mailto:ssocial.hemose@fsph.se.gov.br" class="info-box_link">ssocial.hemose@fsph.se.gov.br</a>
                                </p>
                                <p class="footer-info">
                                    <i class="fal fa-phone" style="color: #aaa;"></i>
                                    <a href="tel:+557932258019" class="info-box_link">+55 79 3225-8019</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title hemoseFooter">Unidades</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="../fundacao/index.html">FSPH - Fundação de Saúde Parreiras Horta</a></li>
                                    <li><a href="hemose.html">HEMOSE - Centro de Hemoterapia de Sergipe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title hemoseFooter">Sobre Nós</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="institucionalHemose.html">Institucional</a></li>
                                    <li><a href="#">Transparência</a></li>
                                    <li><a href="#">Serviços</a></li>
                                    <li><a href="teamHemose.html">Nossa Equipe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto" style="margin-top: 1.5rem;">
                        <div class="widget footer-widget">
                            <h3 class="widget_title hemoseFooter">Notícias Recentes</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="#"><img :src="noticiasMaisRecente.foto_capa" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="#" style="color: var(--theme-color);" v-html="noticiasMaisRecente.titulo"></a></h4>
                                        <div class="recent-post-meta">
                                            <a href="#" style="color: var(--theme-color);"><i class="fal fa-calendar" style="color: var(--theme-color);"></i> {{ noticiasMaisRecente.dt_noticia.split('T')[0].split('-').reverse().join('/') }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="#"><img :src="segundaNoticiaMaisRecente.foto_capa" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="#" style="color: var(--theme-color);" v-html="segundaNoticiaMaisRecente.titulo"></a></h4>
                                        <div class="recent-post-meta">
                                            <a href="#" style="color: var(--theme-color);"><i class="fal fa-calendar" style="color: var(--theme-color);"></i>{{segundaNoticiaMaisRecente.dt_noticia}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap" style="background-color: var(--theme-color2);">
            <div class="container">
                <div class="row gy-2 align-items-center">
                    <div class="col-md-7">
                        <p class="copyright-text"><i class="fal fa-copyright"></i> HEMOSE - Centro de Hematologia de Sergipe 2024.</p>
                    </div>
                    <div class="col-md-5 text-center text-md-end">
                        <div class="th-social"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- datetimepicker -->
    <script src="assets/js/jquery.datetimepicker.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>

    <script src="assets/js/myFetch.js"></script>


    <script src="assets/js/vue.js"></script>
    <script src="assets/js/myvue.js"></script>
    <script src="assets/js/estatistica.js"></script>
    <script src="assets/js/footer.js"></script>




</body>

</html>